numpy==1.19.5
pandas==1.1.5
protobuf==3.20.3
pycuda==2020.1
transformers==4.27.4
onnx==1.10.0
onnxruntime==1.10.0
onnx-graphsurgeon==0.3.26
onnxoptimizer==0.3.10
nvidia-pyindex==1.0.9
pycuda==2020.1
nvidia-tensorrt==8.4.1.5
torch==1.13.0+cu116
torchvision==0.14.0+cu116
torch-tensorrt==1.0.0
sentencepiece
tqdm
